.App {
  background: linear-gradient(90deg, #7106ff 50%, #ff6700 50%);
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.smurfForm {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-left: 15%;
}

.input {
  border: 2px solid #ff6700;
  border-radius: 40px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}
::placeholder {
  text-align: center;
}

.butn {
  width: 95%;
  margin: auto;
  margin-top: 10px;
  background: white;
  border: 2px solid #ff6700;
  height: 30px;
  border-radius: 40px;
}

.butn:hover {
  background: #ff6700; 
  cursor: pointer;
}

.header {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  background: #ffe800;
  border: 1px solid red;
}

.smurfList {
  width: 30%;
  margin: 20px auto;
  color: white;
}

.smurf {
  margin-top: 10px;
}
